body {

}

div {
	border-style: dotted;
	border-width: 1px;
	margin: 5px 5px 5px 5px;
}

#third > p {
	display: none;
}
h1 {
	display: none;
}

#fifth {
	display: none;
}

#fifth > p {
	display: inline
}