
 h3 {
 	font-style: italic;
 	color: blue;
 }

.headline {
	border-width: 3px;
	border-color: red;
	border-style: dotted;
	display: inline-block;
}

body {
	background-image: url("https://www.muralswallpaper.co.uk/app/uploads/painted-union-jack-plain.jpg") ;
}


